[xena]
instrument_id = cu1602
price = 33050
volume = 10
is_buy = true

order_counter = 5
order_interval = 2000

log_cfg = log.cfg

timestamp_file = xena_timestamp.data

[xtra_trader]
exchange_id = 1

participant_id = 0148
user_id = xele_trade
password = 113015

client_id = 00666064

front_address = tcp://172.31.0.3:32001




